# Core Data Manipulation

pandas2.1.4
numpy1.26.4

# Machine Learning & Statistical Modeling

scikit-learn1.3.2
lightgbm4.3.0
lifelines0.28.0
joblib1.3.2

# Visualization

matplotlib3.8.2
seaborn0.13.2

# File Export Utilities

openpyxl==3.1.2
